*{
  box-sizing: border-box;
  margin: 0;
}

body{
  margin: 0;
  color: #293264;
}

.page{
  position: relative;
  min-height: 100vh;
  background: #f5f7fb;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page::after {
  content: '';
  position: absolute;

  width: 200px;
  height: 200px;
  border-radius: 50%;

  top: -100px;
  right: -100px;

  background: lemonchiffon;
}
.page::before {
  content: '';
  position: absolute;

  width: 200px;
  height: 200px;
  border-radius: 50%;

  bottom: -100px;
  left: -100px;

  background: #deebf8; 
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: 'Karla', sans-serif;
  font-size: 1.95em;
  font-weight: bold;
}

h2{
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  padding: 15px 0;
  font-weight: 100;
}

.btn-start{
  background-color: #4d5b9e;
  color: #f5f7fb;
  border-radius: 15px;
  width: 12.06em;
  height: 3.25em;
  border-style: none;
  font-size: 1em;
}

.questions{
  width: 80%;
  margin-top: 20px
}

h3{
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  padding: 15px 0;
}

.answers{
  padding-bottom: 15px;
}
.answer-btn{
  background-color: #f5f7fb;
  border-radius: 7.71px;
  border: 1px, solid, #293264;
  color: #293264;
  padding: 6px 10px;
  margin-right: 10px;
}

.answer-btn.selected{
  background-color: #d6dbf5;
  border: none;
}

.check-answers{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.check-btn {
  background-color: #4d5b9e;
  border-radius: 10px;
  color: #f5f7fb;
  padding: 10px 15px;
  border-style: none;
  font-size: .64em;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
}